html {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  background-color: #c9b5ab;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'PT Sans', sans-serif; */
/* font-family: 'PT Sans', sans-serif;
/* font-family: 'PT Serif', serif; */

figcaption {
  font-style: italic;
  font-family: "PT Serif", serif;
  text-align: center;
}

b,
strong {
  font-weight: normal;
}

.timeline {
  text-align: left;
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 1.125rem;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622;
  margin: 0;
  text-align: left;
  font-family: "PT Sans", sans-serif;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

.common {
  list-style-type: lower-greek;
  text-decoration: none;
  font-family: "PT Serif", serif;
  color: #222;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

.nutritional dt {
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote cite {
  color: #222;
}
