html {
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'PT Sans', sans-serif; */
/* font-family: 'PT Sans', sans-serif;
/* font-family: 'PT Serif', serif; */

figcaption {
  font-size: 0.8rem;
  font-style: italic;
  font-family: 'PT Serif', serif;
  text-align: center;
}

b,
strong {
  font-weight: normal;
}

p .caption {
  text-align: center;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622;
  margin: 0;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

.ol {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.ol li {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  color: #8f2440;
}

.common {
  list-style-type: lower-greek;
  text-decoration: none;
  font-family: 'PT Serif', serif;
  color: #222;
}

ul li {
  text-size: 100%;
}

nav a:hover {
  color: #3f1622;
}

footer a{
  color: #8f2440;
}

footer a:hover {
  color: #3f1622;
}

dl dt {
  font-style: bold;
}
